body {
    font-family: 'Play', sans-serif;
    color: #A3EBB1;
    background: #116530;
    background: url("../img/skritt1.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.1rem;
}

h3 {
    color: white;
}


.mainContainer {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #11653095;
    height: 100%;
    margin-top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    line-height: 15px;
    margin-left: 380px;
    height: 100vh;
}

.content span {
    color: white;
    font-weight: bold;
}

.content ul {
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.content ul :last-child{
    margin-bottom: 10px;
}

/*  *RECRUITMENT/APPLY PAGE */

.applyTitle {
    margin: 40px 0px 40px 0px;
}

form {
    display: flex;
    flex-direction: column;
}

.userMessage {
    width: 500px;
    height: 100px;
    background: #A3EBB1;
    color: #116530;
    font-family: 'Play', sans-serif;
    font-size: 1rem;
}

.userName {
    background: #A3EBB1;
    color: #116530;
    width: 150px;
    height: 30px;
}

.userNameLabel {
    margin: 15px 0px 15px 0px;
}

label {
    line-height: 20px;
}

button {
    background-color: #A3EBB1;
    color: #116530;
    font-weight: 800;
    height: 35px;
    width: 120px;
    margin: 10px 0px 10px 0px;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

/* About page */

