body {
  font-family: 'Play', sans-serif;
  color: #A3EBB1;
  background: #116530;
  background: url("../img/skritt1.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.1rem;
  margin:0;
  padding:0;
  height:100%;
}

.wrapper {
  min-height: calc(100vh - 50px);
  }

h1 {
  font-size: 2.2rem;
  margin: 35px 0 35px 0px;
  line-height: 35px;
  color: white;
}

h3 {
  font-size: 1.8rem;
  color: white;
}

.mainContainer {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #116530;
  height: 100%;
  margin-top: 0;
  padding-bottom:60px; 
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  line-height: 15px;
  margin-left: 25%;
  margin-right: 25%;
  height: 100%;
}

/* About page */

.content span {
  color: white;
  font-weight: 4  00;
}

.content ul {
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content ul :first-child{
  margin: 20px 0 0px 0;
}

.openApp {
  margin-bottom: 20px;
}

/* Fashion Skritt page */

.card {
  border: 5px #A3EBB1 solid;
  width: 100%;
  border-radius: 5px;
  margin: 40px 0 0 0;
}

.card li {
  line-height: 15px;
}

.card li:first-child {
  margin: 15px 0 0 0;
}

.card img {
  border-radius: 5px 5px 0 0;
  border-bottom: 2px #A3EBB1 solid;
}

.cardContainer {
  margin: 10px 0 10px 10px;
}

/* RECRUITMENT/APPLY PAGE */

.applyTitle {
  margin: 40px 0px 40px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

.userMessage {
  width: 80%;
  height: 10vh;
  background: #A3EBB1;
  color: #116530;
  font-family: 'Play', sans-serif;
  font-size: 1rem;
}

.userName {
  background: #A3EBB1;
  color: #116530;
  width: 150px;
  height: 30px;
}

.userNameLabel {
  margin: 15px 0px 15px 0px;
}

label {
  line-height: 22px;
}

button {
  background-color: #A3EBB1;
  color: #116530;
  font-weight: 800;
  height: 35px;
  width: 120px;
  margin: 10px 0px 10px 0px;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
}

@media only screen and (max-width: 1050px) {

  body {
    background: black;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  .content {
    margin-top: 65px;
    line-height: 15px;
    width: 70%;
    margin-left: 5%;
    margin-right: 5%
  }

  .mainContainer {
    background-color: #116530;
    height: auto;
    width: 120vw;
    margin: 0;
    padding-bottom:60px; 
    align-content: center;
  }

  .card {
    border: 5px #A3EBB1 solid;
    width: 95%;
    border-radius: 5px;
    margin: 35px 0 0 0;
    justify-content: center
  }
}